PORT=5000
NODE_ENV=development

# MongoDB
# MONGODB_URI=mongodb://localhost:27017/your_database_name
# Or for MongoDB Atlas:
MONGODB_URI=mongodb+srv://ssirdeeq_db_user:Gt05Np7PWWZgfVNQ@cluster0.prws1ym.mongodb.net/portfolio?appName=Cluster0
# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=sirdurx
CLOUDINARY_API_KEY=296882133542631
CLOUDINARY_API_SECRET=89EPbnxfmXwwfClRgYgCmy2p5jA
# Email (Nodemailer)
EMAIL_SERVICE=gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=sirdurxcodelabs@gmail.com 
EMAIL_PASSWORD=lfvorpcckklpbgfr 
EMAIL_FROM=sirdurxcodelabs@gmail.com 
EMAIL_FROM_NAME=SIRDURX CODELABS


# SMTP Configuration for Email System
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM_NAME=GAMSAJ International Limited
